<!DOCTYPE html>
<html>
<head>
  <title>Patterns | <%= title = yield(:page_title); title.present? ? title : controller_name.humanize.titlecase %></title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<style>
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
.error{
  color: red;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

</style>
<body>
<div id="notifications">
    <% if flash[:notice] || flash[:alert] || flash[:error] %>
        <div class="alert <%= flash[:notice].present? ? "alert-success" : "alert-error" %>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
            <%= flash[:notice] %>
            <%= flash[:error] %>
        </div>
    <% end %>
</div> <!-- notifications -->
You have been removed from this list.
If you have any questions, please don't hesitate to email:
<%= ENV['MAIL_ADMIN'] %>
</body>
</html>
