<!DOCTYPE html>
<html>
<head>
  <title>Patterns | <%= title = yield(:page_title); title.present? ? title : controller_name.humanize.titlecase %></title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @referrer %>
<script>
  $.seamless.connect({
    url: '<%= @referrer %>',
    allowStyleInjection:true
  });
</script>
<% end %>
<%= render 'form' %>

<%=
#link_to 'Back', people_path
%>
</body>
</html>