<!DOCTYPE html>
<html>
<head>
  <title>Patterns | <%= title = yield(:page_title); title.present? ? title : controller_name.humanize.titlecase %></title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<style>
form.new_person{
  height:400px;
}
</style>
<body>
<% if @referrer %>
<script>
  var parent = $.seamless.connect({
    url: '<%= @referrer %>',
    allowStyleInjection:true,
    container:'form.new_person'
  });
  parent.receive(function(data, event) {
  // Print out the data that was received.
    var urls=data.stylesheets;
    $.each(urls,function(n,url){
      var $head = $("head");
      var $headlinklast = $head.find("link[rel='stylesheet']:last");
      var linkElement = "<link rel='stylesheet' href='"+ url +"' type='text/css' media='screen'>";
      if ($headlinklast.length){
        $headlinklast.after(linkElement);
      } else {
        $head.append(linkElement);
      }
    })
    // re-init because of new sizing
    // from new styles
    $.seamless.connect();
  });
</script>
<% end %>
<%= render 'form' %>

<%=
#link_to 'Back', people_path
%>
</body>
</html>