<tr class="gift_card" id="gift_card-<%= gift_card.id %>">
    <td><%= (gift_card.reason.titleize) || "" %></td>
    <td><%= gift_card.giftable_id %></td>
    <td><%= gift_card.batch_id %></td>
    <td><%= gift_card.gift_card_number %></td>
    <td><%= gift_card.expiration_date %></td>
    <td><%= humanized_money_with_symbol gift_card.amount %></td>
    <td><%= gift_card.created_at.strftime('%m/%d/%Y') %></td>
    <td><%= link_to 'Edit', edit_gift_card_path(gift_card) %></td>
    <td><%= link_to 'Destroy', gift_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
