<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email address</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Postal code</th>
      <th>Geography</th>
      <th>Primary device</th>
      <th>Primary device description</th>
      <th>Secondary device</th>
      <th>Secondary device description</th>
      <th>Primary connection</th>
      <th>Primary connection description</th>
      <th>Phone number</th>
      <th>Participation type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
    <tr>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= person.email_address %></td>
      <td><%= person.address_1 %></td>
      <td><%= person.address_2 %></td>
      <td><%= person.city %></td>
      <td><%= person.state %></td>
      <td><%= person.postal_code %></td>
      <td><%= person.geography_id %></td>
      <td><%= person.primary_device_id %></td>
      <td><%= person.primary_device_description %></td>
      <td><%= person.secondary_device_id %></td>
      <td><%= person.secondary_device_description %></td>
      <td><%= person.primary_connection_id %></td>
      <td><%= person.primary_connection_description %></td>
      <td><%= person.phone_number %></td>
      <td><%= person.participation_type %></td>
      <td><%= link_to 'Show', person %></td>
      <td><%= link_to 'Edit', edit_person_path(person) %></td>
      <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
