<%- model_class = Person -%>
<div class="row page-header">
  <div class="span10">
    <h1><%=t '.title', :default => "People" %></h1>
  </div>
  <div class='span1'>
   <%= link_to 'all', {}, :class => 'btn btn-mini' %>
  </div>
  <div class='span1'>
   <%= link_to 'not verified', params.merge({not_verified:true}), :class => 'btn btn-mini' %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <p class="pull-right"><%= Person.count %> people are members of the CUT Group.</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Ward</th>
          <th>Email address</th>
          <th>Phone number</th>
          <th><%= sortable 'verified','Verified?'%></th>
          <th><%= sortable 'created_at', 'Signup date' %></th>
          <th>Preferred Contact Method</th>
          <th><%= sortable 'tag_count_cache', 'Tag Count' %></th>
          <th>Invites</th>
          <th>Reservations</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
          <tr id='person-<%= person.id %>'>
            <td><%= link_to "#{person.first_name} #{person.last_name}", person_path(person) %></td>
            <td><%= address_fields_to_sentence(person) %></td>
            <td><%= best_in_place person, :geography_id %></td>
            <td><%= best_in_place person, :email_address %></td>
            <td><%= best_in_place person, :phone_number %></td>
            <td><%= best_in_place person, :verified, as: :select, collection: @verified_types.map{|p| [p,p]} %></td>
            <td><%= person.created_at.to_s(:short) %></td>
            <td><%= best_in_place person, :preferred_contact_method,
                                          as: :select,
                                          collection: { 'SMS'=>'SMS',
                                                        'EMAIL'=>'EMAIL'} %>
            </td>
            <td>
            <%= person.tag_count %>
            </td>
            <td>
              <%= V2::EventInvitation.joins(:invitees).where(invitation_invitees_join_table: {person_id: person.id}).size %>
            </td>
            <td>
              <%= V2::Reservation.where(person_id: person.id).size %>
            </td>

            <td>
              <%= render partial: 'add_remove_cart',locals: {person: person} %>
              <%= link_to t('.edit', :default => t('helpers.links.edit')),
                          edit_person_path(person), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t('helpers.links.destroy')),
                          person_path(person),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
                <%= link_to 'deactivate',
                          deactivate_people_path(person),
                          remote: true,
                          method: :post,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span12" style="text-align:center">
    <%= will_paginate @people, :renderer => BootstrapPagination::Rails %>
  </div>
</div>
