<%- model_class = Person -%>

<div class="row">
  <div class="span12">
    <h1><%=t '.title', :default => "#{@person.first_name} #{@person.last_name}" %></h1>    
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3>About</h3>    
    <dl>
      <dt>Address</dt>
      <dd><%= address_fields_to_sentence(@person) %></dd>
      
      <dt>Ward</dt>
      <dd><%= @person.geography_id %></dd>
      
      <dt>Primary device</dt>
      <dd><%= @person.primary_device_description %> <span class="muted">(<%= human_device_type_name @person.primary_device_id %>)</span></dd>

      <dt>Secondary device</dt>
      <dd><%= @person.secondary_device_description %> <span class="muted">(<%= human_device_type_name @person.secondary_device_id %>)</span></dd>

      <dt>Primary connection method</dt>
      <dd><%= human_connection_type_name @person.primary_connection_id %> <% if @person.primary_connection_description.present? %><%= ": " + @person.primary_connection_description %><% end %></dd>
      
      <dt>Preferred participation method</dt>
      <dd><%= @person.participation_type %></dd>            
    </dl>    
  </div>

  <div class="span4">    
    <h3>Contact</h3>
    
    <dl>
      <dt>Phone</dt>
      <dd><%= number_to_phone @person.phone_number %></dd>
      
      <dt>Email</dt>
      <dd><%= mail_to @person.email_address %></dd>
      
      <dt>Voted in last election?</dt>
      <dd><%= @person.voted %></dd>
      
      <dt>Ever called 311?</dt>
      <dd><%= @person.called_311 %></dd>
      
      <dt>Facebook</dt>
      <dd>link to facebook</dd>
      
      <dt>Twitter</dt>
      <dd>link to twitter</dd>
      
      <dt>Signup at</dt>
      <dd><%= @person.signup_at ? @person.signup_at.to_s(:long) : 'unknown' %></dd>
    </dl>    
  </div>
  
  <div class="span4">
    <img src="http://placekitten.com/400/300" />    
  </div>
</div>

<div class="row">
  <div class="span12">
  <h2>Location</h2>  
  <p>Lives at <%= address_fields_to_sentence(@person) %></p>
  </div>  
</div>

<div class="row">  
  <div class="span6"><a href="https://maps.google.com?q=<%= CGI.escape(address_fields_to_sentence(@person)).html_safe %>" target="_blank" title="View in Google Maps"><img src="http://maps.googleapis.com/maps/api/staticmap?markers=|<%= CGI.escape(address_fields_to_sentence(@person)).html_safe %>&amp;zoom=14&amp;size=570x200&amp;sensor=false"><br/>View in Google Maps</a></div>
  <div class="span6"><img src="http://maps.googleapis.com/maps/api/streetview?size=570x200&amp;location=<%= CGI.escape(address_fields_to_sentence(@person)).html_safe %>&amp;sensor=false"></div>
</div>

<div class="row">
  <div class="form-actions span12">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                people_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_person_path(@person), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                person_path(@person),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
</div>