<% content_for :page_title, @person.full_name %>

<div class="page-header">
<h1><%= @person.full_name %></h1>
</div>

<div class="row">
  <div class="span6">
    <div class="row">
      <div class="span3">
        <h3>About</h3>
        <dl>

          <dt>Verified?</dt>
          <!-- <dd><%= best_in_place @person, :verified, :as => :select, :collection => %w(Unverified Screened Verified-In-Person Verified) %></dd> -->
          <dd><%= best_in_place @person, :verified %></dd>

          <dt>Address</dt>
          <dd><%= address_fields_to_sentence(@person) %></dd>

          <dt>Ward</dt>
          <dd><% if @person.geography_id.present? %> <%= link_to @person.geography_id, search_index_path(adv: 1, geography_id: @person.geography_id ) %><% end %></dd>

          <dt>Primary device</dt>
          <dd><%= link_to @person.primary_device_description, search_index_path(adv: 1, device_description: @person.primary_device_description ) %> <span class="muted">(<%= human_device_type_name @person.primary_device_id %>)</span></dd>

          <dt>Secondary device</dt>
          <dd><% if @person.secondary_device_description.present? %> <%= link_to @person.secondary_device_description, search_index_path(adv: 1, device_description: @person.secondary_device_description ) %> <% end %><span class="muted">(<%= human_device_type_name @person.secondary_device_id %>)</span></dd>

          <dt>Primary connection method</dt>
          <dd><%= human_connection_type_name @person.primary_connection_id %> <% if @person.primary_connection_description.present? %><%= ": " + @person.primary_connection_description %><% end %></dd>

          <% if @person.secondary_connection_id %>
          <dt>Secondary connection method</dt>
          <dd><%= human_connection_type_name @person.secondary_connection_id %> <% if @person.secondary_connection_description.present? %><%= ": " + @person.secondary_connection_description %><% end %></dd>
          <% end %>

          <dt>Preferred participation method</dt>
          <dd><%= best_in_place @person, :participation_type %></dd>
          <!-- <dd><%= best_in_place @person, :participation_type, as: :select, :collection => %w(in-person remote) %></dd> -->
        </dl>
      </div>

      <div class="span3">
        <h3>Contact</h3>

        <dl>
          <dt>Phone</dt>
          <dd><%= number_to_phone @person.phone_number %></dd>

          <dt>Email</dt>
          <dd><%= mail_to @person.email_address %></dd>

          <dt>Preferred Contact Method</dt>
          <!-- <dd><%= best_in_place @person, :preferred_contact_method, as: :select, collection: %w(SMS EMAIL) %></dd> -->
          <dd><%= best_in_place @person, :preferred_contact_method %></dd>

          <dt>Voted in last election?</dt>
          <dd><%= @person.voted %></dd>

          <dt>Ever called 311?</dt>
          <dd><%= @person.called_311 %></dd>

          <dt>Facebook</dt>
          <dd>link to facebook</dd>

          <dt>Twitter</dt>
          <dd>link to twitter</dd>

          <dt>Signup at</dt>
          <dd><%= @person.signup_at ? @person.signup_at.to_s(:long) : 'unknown' %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <h3>Tags</h3>
        <ul id="tag-list">
          <%= render partial: 'taggings/tagging', collection: @person.taggings %>
        </ul>
        <%= form_for(@tagging, remote: true, html: { class: "form-inline" }) do |form| %>
          <%= form.hidden_field :taggable_type, value: "Person" %>
          <%= form.hidden_field :taggable_id, value: @person.id %>
          <%= form.text_field :name, class: "input span2", placeholder: "new tag", data: { provide: 'typeahead', source: Tag.most_popular(25).collect{|tag| tag.name } }, autocomplete: 'off' %>
          <%= form.submit "Add", class: "btn span1" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="span6">
    <h3>Location</h3>
    <a href="https://maps.google.com?q=<%= CGI.escape(address_fields_to_sentence(@person)).html_safe %>" target="_blank" title="View in Google Maps"><img src="https://maps.googleapis.com/maps/api/staticmap?markers=|<%= CGI.escape(address_fields_to_sentence(@person)).html_safe %>&amp;zoom=14&amp;size=570x200&amp;sensor=false"></a>
    <img src="https://maps.googleapis.com/maps/api/streetview?size=570x200&amp;location=<%= CGI.escape(address_fields_to_sentence(@person)).html_safe %>&amp;sensor=false">
  </div>
</div>

<div class="row">
  <div class="span6">
    <h3>Notes</h3>
    <%= form_for([@person, @comment], remote: true) do |form| %>
      <%= form.hidden_field :commentable_type, :value => 'Person' %>
      <%= form.hidden_field :commentable_id, :value => @person.id %>
      <%= form.text_area :content, rows: 3, class: "span6 input-block-level" %>
      <%= form.submit 'Add note', :class => "btn" %>
    <% end %>

    <div id="comments">
      <%= render partial: 'comment', collection: @person.comments.order("created_at DESC") %>
    </div>
  </div>



  <div class="span6" id="person-events">
  <h3>Communications</h3>
  <table class="table">
    <tr>
        <th>Campaign Name</th>
    </tr>
    <% @twilio_wufoo_forms.each do |form| %>
      <tr>
        <td>
          <%= form.name %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h3>Add New Gift Card</h3>
    <div id="error-div"></div>
    <%= form_for([@person, @gift_card], remote: true) do |form| %>
      <% if @gift_card.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@gift_card.errors.count, "error") %> prohibited this gift_card from being saved:</h2>

          <ul>
          <% @gift_card.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= form.hidden_field :person_id, :value => @person.id %>
      <%= form.select :reason, GiftCard.reasons.keys.to_a, { :prompt => "Reason" } %>
      <%= form.text_field :gift_card_number, :placeholder => "Card Number"  %>
      <%= form.text_field :amount, :placeholder => "Amount" %>
      <%= form.text_field :expiration_date, :placeholder => "MM/YY" %>

      <%= form.submit 'Add Gift Card', :class => "btn" %>
    <% end %>
  </div>
  <div class="span12">
    <h3>Gift Cards</h3>
    <table class="table table-striped">
      <tr>
        <th>Gift Card ID</th>
        <th>Person ID</th>
        <th>Name</th>
        <th>Reason</th>
        <th>Giftable ID</th>
        <th>Card Number</th>
        <th>Expiration Date</th>
        <th>Amount</th>
        <th colspan="3"></th>
      </tr>

      <tbody id="gift_cards">
        <%= render partial: 'gift_cards/gift_card', collection: @person.gift_cards.order("created_at DESC") %>
      </tbody>
    </table>
  </div>

</div>


<div class="row">
  <div class="span12">
    <% if @person.submissions.any? %>
    <h3>Form Submissions</h3>
    <table class="table">
      <tr>
        <th>Form</th>
        <th>Content</th>
      </tr>
      <% for submission in @person.submissions %>
      <a id="submission-<%= submission.id %>"></a>
      <tr>
        <td><strong><%= submission.form_name %></strong><br/>Form Type: <%= submission.form_type %><br/><span title="<%= submission.created_at %>"><%= time_ago_in_words submission.created_at %> ago</span><br/><span class="" style="font-size:small; color:#ccc; font-style:italic"><%= submission.ip_addr %></span></td>
        <td>
          <table class="table table-striped">
            <% for field_id,field_desc in submission.fields do %>
              <tr>
                <td><%= field_desc[:title] %></td>
                <td><%= submission.field_value(field_id) %></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
  <!-- no form submissions. FIXME: null state? -->
  <% end %>
  </div>
</div>

<div class="row">
  <div class="form-actions span12">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                people_path, :class => 'btn'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_person_path(@person), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                person_path(@person),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
</div>
