<div class="page-header">
  <h1><%=t '.title', :default => "Search Results" %></h1>
</div>

<div class="row">
  <div class="span12" style="text-align:right">
    <span data-toggle="collapse" data-target="#advanced-search">Show advanced search</span>
  </div>
</div>


<div class="row">
  <div class="span12 collapse <%= "in" if params[:adv] %>" id="advanced-search">
    <h3>Advanced Search</h3>    
  
    <%= form_tag search_index_path, :method => :get, :class => "form-inline" %>
    <%= hidden_field_tag :adv, '1' %>
    <label for="first_name">First name</label>
    <%= text_field_tag :first_name, params[:first_name], :class => "input-small" %>

    <label for="last_name">Last name</label>
    <%= text_field_tag :last_name, params[:last_name], :class => "input-small" %>

    <label for="email_address">Email address</label>
    <%= text_field_tag :email_address, params[:email_address], :class => "input-small" %>
    
    <label for="device_description">Device description</label>
    <%= text_field_tag :device_description, params[:device_description], :class => "input-small" %>
    
    <label for="connection_description">Connection description</label>
    <%= text_field_tag :connection_description, params[:connection_description], :class => "input-small" %>

    <label for="postal_code">ZIP Code</label>
    <%= text_field_tag :postal_code, params[:postal_code], :class => "input-small" %>
    
    <%= submit_tag "Search", :name => nil, :class => "btn-primary" %>
    
    </form>
  </div>  
</div>

<div class="row">
  <div class="span12">

    <% if @results.any? %>
    <table class="table table-striped">
      <% @results.each_with_index do |result, idx| %>
      <tr>
        <td class="span4">
          <%= link_to "#{result.first_name} #{result.last_name}", person_path(:id => result.id) %>
        </td>
        <td class="span4">
          ZIP: <%= result.postal_code %><br/>
          Phone: <%= number_to_phone result.phone_number %><br/>
          Email: <%= result.email_address %>      
        </td>
        <td class="span4">
          Primary: <%= result.primary_device_description %><br>
          Secondary: <%= result.secondary_device_description %><br>
          Connection: <%= result.primary_connection_description %>
        </td>    
      </tr>
      <% end %>
    </table>
    <% else %>
    <p>There are no people that match your search.</p>
    <%  end %>
  </div>
</div>
