<div class="page-header">
  <h1><%=t '.title', :default => "Search Results" %></h1>
</div>
<% if params[:adv] || params[:q].blank? %>

<div class="row">
  <div class="span12 well">
    <h3>Advanced Search</h3>    
  
    <%= form_tag search_index_path, :method => :get %>
    <%= hidden_field_tag :adv, '1' %>
    <dl>
      <dt>First name</dt>
      <dd><%= text_field_tag :first_name, params[:first_name] %></dd>

      <dt>Last name</dt>
      <dd><%= text_field_tag :last_name, params[:last_name] %></dd>

      <dt>Email addres</dt>
      <dd><%= text_field_tag :email_address, params[:email_address] %></dd>
      
      <dt>Device description</dt>
      <dd><%= text_field_tag :device_description, params[:device_description] %></dd>
      
      <dt>Connection description</dt>
      <dd><%= text_field_tag :connection_description, params[:connection_description] %></dd>

      <dt>ZIP Code</dt>
      <dd><%= text_field_tag :postal_code, params[:postal_code] %></dd>      
    </dl>
    
    <%= submit_tag "Search", :name => nil, :class => "btn-primary btn-large" %>
    
    </form>
  </div>  
</div>

<% end %>

<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <% @results.each_with_index do |result, idx| %>
      <tr>
        <td class="span4">
          <%= link_to "#{result.first_name} #{result.last_name}", person_path(:id => result.id) %>
        </td>
        <td class="span4">
          ZIP: <%= result.postal_code %><br/>
          Phone: <%= number_to_phone result.phone_number %><br/>
          Email: <%= result.email_address %>      
        </td>
        <td class="span4">
          Primary: <%= result.primary_device_description %><br>
          Secondary: <%= result.secondary_device_description %><br>
          Connection: <%= result.primary_connection_description %>
        </td>    
      </tr>
      <% end %>
    </table>
  </div>
</div>
