<div class="page-header">
  <h1><%=t '.title', :default => "Search Results" %></h1>
</div>

<div class="row">
  <div class="span12" style="text-align:right">
    <span data-toggle="collapse" data-target="#advanced-search">Show advanced search</span>
  </div>
</div>


<div class="row">
  <%= form_tag search_index_path, :method => :get, :class => "" %>
  <%= hidden_field_tag :adv, '1' %>
  
  <div class="collapse <%= "in" if params[:adv] %>" id="advanced-search">
    <div class="span4">
      <fieldset>
        <label for="first_name">First name</label>
        <%= text_field_tag :first_name, params[:first_name], :class => "input" %>

        <label for="last_name">Last name</label>
        <%= text_field_tag :last_name, params[:last_name], :class => "input" %>

        <label for="email_address">Email address</label>
        <%= text_field_tag :email_address, params[:email_address], :class => "input" %>              
      </fieldset>
    </div>
    
    <div class="span4">
      <label for="device_description">Device description</label>
      <%= text_field_tag :device_description, params[:device_description], :class => "input" %>

      <label for="connection_description">Connection description</label>
      <%= text_field_tag :connection_description, params[:connection_description], :class => "input" %>      

      <label for="event_id">Event</label>
      <%= select_tag :event_id, 
            options_for_select([[nil, nil]] + Event.all.order(:name).collect{|event| [event.name, event.id]}, selected: params[:event_id]), 
            :class => "input" %>      
    </div>

    <div class="span4">
      <label for="address">Address</label>
      <%= text_field_tag :address, params[:address], :class => "input-large span4" %>
      
      
      <label for="postal_code">ZIP Code</label>
      <%= text_field_tag :postal_code, params[:postal_code], :class => "input-small" %>

      <label for="geography_id">Ward</label>
      <%= text_field_tag :geography_id, params[:geography_id], :class => "input-small" %>
      
      <p class="alert alert-info">
        <span class="label label-info">Search tip</span> To search for more than one ward or zip code, separate values with a space.      
      </p>
      
    </div>
  </div>  
  
  <div class="span12">
    <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
  </div>
  
  </form>
</div>

<% if @results.any? %>
<div class="row">
  <div class="span12">

    <p class="pull-right">
      Showing <%= @results.size %> <%= 'result'.pluralize(@results) %><% if @results.total > @results.size -%> of <%= @results.total %> total<% end -%>
    </p>
    <table class="table table-striped">
      <% @results.each_with_index do |result, idx| %>
      <% #result = result.person %>
      <tr>
        <td class="span4">
          <%= link_to "#{result.first_name} #{result.last_name}", person_path(:id => result.id) %>
        </td>
        <td class="span4">
          Address: <%= search_result_field result.address_1, :address  %><br/>
          ZIP: <%= search_result_field result.postal_code, :postal_code %><br/>
          Ward: <%= search_result_field result.geography_id, :geography_id %><br/>
          Phone: <%= search_result_field number_to_phone(result.phone_number), :phone_number %><br/>
          Email: <%= search_result_field result.email_address, :email_address %>      
        </td>
        <td class="span4">
          Primary: <%= search_result_field result.primary_device_description, :device_description %><br>
          Secondary: <%= search_result_field result.secondary_device_description, :device_description %><br>
          Connection: <%= search_result_field result.primary_connection_description, :connection_description %>
        </td>    
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="offset4 span8"><%= will_paginate @results, :renderer => BootstrapPagination::Rails %></div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to "Save this list as CSV", search_index_path(params.merge(:format => :csv)), :class => "btn"  %>
    <span><a href="#" id="export-to-mailchimp-form-toggle">Export this list to MailChimp</a></span>
  </div>  
</div>

<div class="row">
  <div class="span12">
    <div id="export-to-mailchimp-form">
      <%= form_tag search_export_path, remote: true, class: "form-inline" %>
        <%= text_field_tag :name, '', class: "", placeholder: "enter a name for this list", length: 50 %>
        <%= hidden_field_tag :adv, '1' %>
        <%- [:address, :first_name, :last_name, :email_address, :geography_id, :postal_code, :event_id, :device_description, :connection_description].each do |field| %> <%= hidden_field_tag field, params[field] %> <% end -%>
        <%= submit_tag "Export", class: "btn btn-primary", data: {disable_with: "Exporting ..."} %>
      </form>      
    </div>    
  </div>
</div>


<% else %>    

<div class="row">
  <div class="span12" style="margin-top: 30px;">
    <p>There are no CUT Group members that match your search.</p>
  </div>
</div>
<% end %>