<div class="page-header">
  <h1><%=t '.title', :default => "Search Results" %></h1>
</div>

<div class="row">
  <div class="span12" style="text-align:right">
    <span data-toggle="collapse" data-target="#advanced-search">Show advanced search</span>
  </div>
</div>


<div class="row">
  <div class="span12 collapse <%= "in" if params[:adv] %>" id="advanced-search">
    <h3>Advanced Search</h3>    
  
    <%= form_tag search_index_path, :method => :get, :class => "form-inline" %>
    <%= hidden_field_tag :adv, '1' %>
    <label for="first_name">First name</label>
    <%= text_field_tag :first_name, params[:first_name], :class => "input-small" %>

    <label for="last_name">Last name</label>
    <%= text_field_tag :last_name, params[:last_name], :class => "input-small" %>

    <label for="email_address">Email address</label>
    <%= text_field_tag :email_address, params[:email_address], :class => "input-small" %>
    
    <label for="device_description">Device description</label>
    <%= text_field_tag :device_description, params[:device_description], :class => "input-small" %>
    
    <label for="connection_description">Connection description</label>
    <%= text_field_tag :connection_description, params[:connection_description], :class => "input-small" %>

    <label for="postal_code">ZIP Code</label>
    <%= text_field_tag :postal_code, params[:postal_code], :class => "input-small" %>

    <label for="geography_id">Ward</label>
    <%= text_field_tag :geography_id, params[:geography_id], :class => "input-small" %>

    
    <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
    
    </form>
  </div>  
</div>

<% if @results.any? %>
<div class="row">
  <div class="span12">

    <p class="pull-right">
      Showing <%= @results.size %> <%= 'result'.pluralize(@results) %><% if @results.total > @results.size -%> of <%= @results.total %> total<% end -%>
    </p>
    <table class="table table-striped">
      <% @results.each_with_index do |result, idx| %>
      <% result = result.person %>
      <tr>
        <td class="span4">
          <%= link_to "#{result.first_name} #{result.last_name}", person_path(:id => result.id) %>
        </td>
        <td class="span4">
          ZIP: <%= search_result_field result.postal_code, :postal_code %><br/>
          Ward: <%= search_result_field result.geography_id, :geography_id %><br/>
          Phone: <%= search_result_field number_to_phone(result.phone_number), :phone_number %><br/>
          Email: <%= search_result_field result.email_address, :email_address %>      
        </td>
        <td class="span4">
          Primary: <%= search_result_field result.primary_device_description, :device_description %><br>
          Secondary: <%= search_result_field result.secondary_device_description, :device_description %><br>
          Connection: <%= search_result_field result.primary_connection_description, :connection_description %>
        </td>    
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="offset4 span8"><%= will_paginate @results, :renderer => BootstrapPagination::Rails %></div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to "Save this list as CSV", search_index_path(params.merge(:format => :csv)), :class => "btn"  %>
  </div>  
</div>

<% else %>    

<div class="row">
  <div class="span12">There are no CUT Group members that match your search.</div>
</div>
<% end %>