<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @application.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @application.url %>
</p>

<p>
  <strong>Source url:</strong>
  <%= @application.source_url %>
</p>

<p>
  <strong>Creator name:</strong>
  <%= @application.creator_name %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
