<% content_for :page_title, @application.name %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @application.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @application.url %>
</p>

<p>
  <strong>Source url:</strong>
  <%= @application.source_url %>
</p>

<p>
  <strong>Creator name:</strong>
  <%= @application.creator_name %>
</p>

<p>Events</p>
<ul>
  <% for event in @application.events do %>
  <li><%= link_to event.name, event %>, at <%= event.location %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
