<h1>SMS Campaigns</h1>

<br />
<h3>Tests - Active </h3>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Active?</th>
      <th>Campaign #</th>
      <th>Form Type</th>
      <th>Name</th>
      <th>Wufoo formid</th>
      <th>Twilio keyword</th>
      <th>End Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @twilio_wufoos_others.each do |twilio_wufoo| %>
      <tr>
        <td><% if twilio_wufoo.status %>On<% else %>Off<% end %></td>
        <td><%= twilio_wufoo.id %></td>
        <td><%= twilio_wufoo.form_type %></td>
        <td><%= twilio_wufoo.name %></td>
        <td><%= twilio_wufoo.wufoo_formid %></td>
        <td><%= twilio_wufoo.twilio_keyword %></td>
        <td><%= twilio_wufoo.end_message %></td>
        <td><%= link_to 'Show', twilio_wufoo %></td>
        <td><%= link_to 'Edit', edit_twilio_wufoo_path(twilio_wufoo) %></td>
        <td><%= link_to 'Destroy', twilio_wufoo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3>Signups - Active</h3>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Active?</th>
      <th>Campaign #</th>
      <th>Form Type</th>
      <th>Name</th>
      <th>Wufoo formid</th>
      <th>Twilio keyword</th>
      <th>End Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @twilio_wufoos_signups.each do |twilio_wufoo| %>
      <tr>
        <td><% if twilio_wufoo.status %>On<% else %>Off<% end %></td>
        <td><%= twilio_wufoo.id %></td>
        <td><%= twilio_wufoo.form_type %></td>
        <td><%= twilio_wufoo.name %></td>
        <td><%= twilio_wufoo.wufoo_formid %></td>
        <td><%= twilio_wufoo.twilio_keyword %></td>
        <td><%= twilio_wufoo.end_message %></td>
        <td><%= link_to 'Show', twilio_wufoo %></td>
        <td><%= link_to 'Edit', edit_twilio_wufoo_path(twilio_wufoo) %></td>
        <td><%= link_to 'Destroy', twilio_wufoo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Inactive</h3>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Active?</th>
      <th>Form Type</th>
      <th>Name</th>
      <th>Wufoo formid</th>
      <th>Twilio keyword</th>
      <th>End Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @twilio_wufoos_inactive.each do |twilio_wufoo| %>
      <tr>
        <td><% if twilio_wufoo.status %>On<% else %>Off<% end %></td>
        <td><%= twilio_wufoo.form_type %></td>
        <td><%= twilio_wufoo.name %></td>
        <td><%= twilio_wufoo.wufoo_formid %></td>
        <td><%= twilio_wufoo.twilio_keyword %></td>
        <td><%= twilio_wufoo.end_message %></td>
        <td><%= link_to 'Show', twilio_wufoo %></td>
        <td><%= link_to 'Edit', edit_twilio_wufoo_path(twilio_wufoo) %></td>
        <td><%= link_to 'Destroy', twilio_wufoo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Twilio-Wufoo Connection', new_twilio_wufoo_path, :class => 'btn btn-mini' %>
<%= link_to "Import Phone Numbers", '/twilio_messages/sendmessages', :class => 'btn btn-mini' %>

