<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @programs.each do |program| %>
          <tr>
            <td><%= program.name %></td>
            <td><%= program.description %></td>
            <td><%= link_to 'Show', program %></td>
            <td><%= link_to 'Edit', edit_program_path(program) %></td>
            <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>

<div class="row">
  <div class="span12">
    <p><%= link_to 'New Program', new_program_path %></p>
  </div>
</div>
