<%- model_class = TwilioMessage -%>
<div class="row page-header">
  <div class="span12">
    <h1><%=t '.title', :default => "Text Message Log" %></h1>
  </div>  
</div>
<div class="row">
  <div class="span12">
   
    <table class="table table-striped span12">
      <thead>
        <tr>   
    <td>date_created</td>
    <td>date_updated</td>
    <td>date_sent</td>
<!--     <td>message_sid</td>
 -->    <td>from</td>
    <td>to</td>
    <td>body</td>
    <td>status</td>
    <td>error_code</td>
    <td>error_message</td>
    <td>direction</td>
    <td>wufoo_formid</td>
    <td>conversation_count</td>
    <td>signup_verify</td>
    <td>created_at</td>
    <td>updated_at</td>
<!--     <td>account_sid</td>
 -->        </tr>
      </thead>
      <tbody> 
        <% @twilio_messages.each do |twilio_message| %>
          <tr>
            <td><%= twilio_message.date_created %></td>
            <td><%= twilio_message.date_updated %></td>
            <td><%= twilio_message.date_sent %></td>
<!--             <td style="word-wrap: break-word"><%= twilio_message.message_sid %></td>
 -->            <td><%= twilio_message.from %></td>
            <td><%= twilio_message.to %></td>
            <td><%= twilio_message.body %></td>
            <td><%= twilio_message.status %></td>
            <td><%= twilio_message.error_code %></td>
            <td><%= twilio_message.error_message %></td>
            <td><%= twilio_message.direction %></td>
            <td><%= twilio_message.wufoo_formid %></td>
            <td><%= twilio_message.conversation_count %></td>
            <td><%= twilio_message.signup_verify %></td>
            <td><%= twilio_message.created_at %></td>
            <td><%= twilio_message.updated_at %></td>
<!--             <td style="word-wrap: break-word"><%= twilio_message.account_sid %></td>
 -->            <td><%= link_to 'Show', twilio_message %></td>
            <td><%= link_to 'Edit', edit_twilio_message_path(twilio_message) %></td>
            <td><%= link_to 'Destroy', twilio_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
</div>
<div class="row">
  <div class="span12" style="text-align:center">
    <%= will_paginate @twilio_messages, :renderer => BootstrapPagination::Rails %>
  </div>
</div>

<%= link_to 'New Twilio message', new_twilio_message_path %>
