<tr class="gift_card" id="gift_card-<%= gift_card.id %>">
        <td><%= gift_card.reason %></td>
        <td><%= gift_card.giftable_id %></td>
        <td><%= gift_card.last_four %></td>
        <td><%= gift_card.expiration_date %></td>
        <td><%= gift_card.amount %></td>
</tr>