<%= will_paginate @recent_signups, :renderer => BootstrapPagination::Rails %>
<h1>Recent sign-ups who need gift cards</h1>
<%= search_form_for @q_recent_signups, as: :q_signups, url: gift_cards_path, method: :get, class: 'form-inline' do |f_rs| %>
<label for='created_at_date_gteq'>People created on or after</label>
<%= f_rs.text_field :created_at_date_gteq, class: 'text_field input-small', id: 'datepicker_start', placeholder: 'yyyy-mm-dd' %>
<%= f_rs.submit 'Search', class: "btn btn-primary" %>
<%= link_to 'Clear Search', request.path, class:"btn" %>
<% end %>
<div id="error-div"></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Person ID</th>
      <th>Verified</th>
      <th>Name</th>
      <th>Address</th>
      <th>Batch</th>
      <th>ProxyID</th>
      <th>Card Number</th>
      <th>Expiration Date</th>
      <th>Amount</th>
      <th>Mailed?</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @new_gift_cards.each_with_index do |gift_card, index| %>
      <tr>
        <%= form_for([@recent_signups[index], gift_card], remote: true) do |form| %>
            <% if gift_card.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(gift_card.errors.count, "error") %> prohibited this gift_card from being saved:</h2>
                <ul>
                <% gift_card.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <td rowspan=2>
              <%= form.text_field :person_id, :value => @recent_signups[index].id, :readonly => true, :class => "span1" %>
            </td>
            <td>
              <%= @recent_signups[index].verified %>
            </td>
            <td>
              <%= @recent_signups[index].full_name %>
            </td>
            <td>
              <%= address_fields_to_sentence(@recent_signups[index]) %>
            </td>
            <td id="new-batchid-<%= @recent_signups[index].id %>">
              <%= form.text_field :batch_id, class: 'input-small', :placeholder => "Batch ID"  %>
            </td>
            <td id="new-proxyid-<%= @recent_signups[index].id %>">
              <%= form.text_field :proxy_id,class: 'input-mini', :placeholder => "Proxy ID"  %>
            </td>
            <td id="new-cardnumber-<%= @recent_signups[index].id %>" class='input-prepend'>
              <span class='add-on'>****-****-***</span>
              <%= form.text_field :gift_card_number,class: 'input-small', :placeholder => "#####"  %>
            </td>
            <td id="new-expirationdate-<%= @recent_signups[index].id %>">
              <%= form.text_field :expiration_date, class: 'input-mini',:placeholder => "MM/YY" %>
            </td>
            <td>
              <%= form.text_field :amount, :value => "5.00", :readonly => true, :class => "span1" %>
              </td>
            <%= form.hidden_field :reason, value: "signup" %>

            <td id="new-submit-<%= @recent_signups[index].id %>"><%= form.submit 'Add Gift Card', :class => "btn" %></td>
        <% end %>
      </tr>
      <tr>
        <td colspan=6>
          <% @recent_signups[index].possible_duplicates.each do |key, val| %>
            Possible Duplicate ID #<%= link_to "#{key} #{val['person'].full_name}", person_path(val['person']) %> Matching on <%= val['match_count'] %> variables: <%= val['matches_on'].to_sentence %>
            <br />
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Listing Gift Cards</h1>
 <div class='span12'>

  <%= search_form_for @q_giftcards, url: gift_cards_path, method: :get, class: 'form-inline' do |f| %>
    <%= f.label :gift_card_number_cont %>
    <%= f.search_field :gift_card_number_cont, class: 'input-mini' %>
    <label for='created_at_date_gteq'>Created on or after</label>
    <%= f.text_field :created_at_date_gteq, class: 'text_field input-small', id: 'datepicker_start', placeholder: 'yyyy-mm-dd' %>
    <label for='created_at_date_lteq'>Created on or before</label>
    <%= f.text_field :created_at_date_lteq, class: 'text_field input-small', id: 'datepicker_end', placeholder: 'yyyy-mm-dd'  %>
    <%= f.submit 'Search', class: "btn btn-primary" %>
    <%= link_to 'Clear Search', request.path, class:"btn" %>
  <% end %>
  </div>
<%= will_paginate @gift_cards, :renderer => BootstrapPagination::Rails %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Gift Card ID</th>
      <th>Person ID</th>
      <th>Name</th>
      <th>Reason</th>
      <th>Giftable ID</th>
      <th>Batch</th>
      <th>Proxy ID</th>
      <th>Card Number</th>
      <th>Expiration Date</th>
      <th>Amount</th>
      <th>Created On</th>
      <th>Edit?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="people_gift_cards">
    <% @gift_cards.each do |gift_card| %>
      <tr>
        <td><%= gift_card.id %></td>
        <td><%= gift_card.person_id %></td>
        <td><%= link_to "#{gift_card.person.full_name}", person_path(gift_card.person) %></td>
        <td><%= gift_card.reason.titleize %></td>
        <td><%= gift_card.giftable_id %></td>
        <td><%= gift_card.batch_id %></td>
        <td><%= gift_card.proxy_id %></td>
        <td><%= gift_card.gift_card_number %></td>
        <td><%= gift_card.expiration_date %></td>
        <td><%= humanized_money_with_symbol gift_card.amount %></td>
        <td><%= gift_card.created_at.strftime('%m/%d/%Y') %></td>
        <td><%= link_to 'Show', gift_card %></td>
        <td><%= link_to 'Edit', edit_gift_card_path(gift_card) %></td>
        <td><%= link_to 'Destroy', gift_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Save this list as CSV", gift_cards_path(params.merge(format: 'csv')), :class => "btn"  %>
<%= link_to 'New Gift card', new_gift_card_path %>
