<p id="notice"><%= notice %></p>

<p>
  <strong>Gift Card Number:</strong>
  <%= @gift_card.gift_card_number %>
</p>

<p>
  <strong>Batch ID:</strong>
  <%= @gift_card.batch_id %>
</p>

<p>
  <strong>Proxy ID:</strong>
  <%= @gift_card.proxy_id %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @gift_card.expiration_date %>
</p>

<p>
  <strong>Person:</strong>
  <%= link_to @gift_card.person.full_name, @gift_card.person %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @gift_card.notes %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @gift_card.user.email_address %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @gift_card.reason %>
</p>

<%= link_to 'Edit', edit_gift_card_path(@gift_card) %> |
<%= link_to 'Back', gift_cards_path %>
