<% content_for :page_title, @event.name %>

<div class="page-header">
  <h1><%= @event.name %></h1>
</div>

<div class="row">
  <div class="span3">
    <%= simple_format @event.description %>
  </div>
  <div class="span6">
    <h3>Attendees</h3>
    <% if @event.reservations.any? %>
    <table class="table table-hover">
      <tbody>
        <tr><th>Name</th><th>Confirmed</th><th>Attended</th></tr>        
        <% for reservation in @event.reservations.includes(:person) do %>
          <tr>        
          <%= form_for(reservation, remote: true) do |form| %>
            <td><%= link_to reservation.person.full_name, reservation.person %></td>
            <td><%= form.check_box :confirmed_at, checked: reservation.confirmed_at.present?, class: "remote-checkbox" %></td>
            <td><%= form.check_box :attended_at, checked: reservation.attended_at.present?, class: "remote-checkbox"  %></td>          
          <% end %>      
          </tr>          
        <% end %>              
      </tbody>
    </table>

    <p><%= button_to "Send this list to Mailchimp", export_event_path, remote: true, class: "btn" %></p>
    <% else %>
    <p>No attendees yet</p>
    <% end %>
  </div>
  <div class="span3">
    <div class="well">
      <dl>
        <dt>Starts at</dt>
        <dd><%= @event.starts_at %></dd>
        <dt>Ends at</dt>
        <dd><%= @event.ends_at %></dd>
        <dt>Location</dt>
        <dd><%= @event.location %></dd>
        <dt>Address</dt>
        <dd><%= link_to @event.address, "https://maps.google.com?q=#{CGI.escape(@event.address)}" %></dd>
        <dt>Capacity</dt>
        <dd><%= @event.capacity %></dd>
        <dt>Application</dt>
        <dd><%= link_to @event.application.name, @event.application %></p>
      </dl>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <hr/>
    <p class="muted pull-left"><%= link_to "&larr; All Events".html_safe, events_path %></p><p class="pull-right"><%= link_to 'Edit this event', edit_event_path %>. Last updated <%= time_ago_in_words(@event.updated_at) %> ago.</p>
  </div>
</div>