<section class="reservation" id="reservation-<%= reservation.id %>">
  <p><%= link_to reservation.event.name, reservation.event %> at <%= reservation.event.starts_at.to_s :long %> at <%= reservation.event.location %></p>
  <p>Confirmed? <span class="confirmed"><%= reservation.confirmed_at ? "yes" : "no" %></span></p>
  <p><%= link_to "cancel this reservation", reservation_path(reservation), method: :delete, remote: true %></p>
</section>