<h1>Listing reservations</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Event</th>
      <th>Confirmed at</th>
      <th>Created by</th>
      <th>Attended at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.person_id %></td>
        <td><%= reservation.event_id %></td>
        <td><%= reservation.confirmed_at %></td>
        <td><%= reservation.created_by %></td>
        <td><%= reservation.attended_at %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
