<div class="row">
  <div class="offset4 span4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal') do |f| %>
      <div class="control-group">
        <%= f.label :email, class: 'control-label' %>
        <div class="controls"><%= f.email_field :email, :autofocus => true %></div>
      </div>

      <div class="control-group">
        <%= f.label :password, class: 'control-label' %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <%= f.check_box :remember_me %> Remember me
          </label>
          <%= f.submit "Sign in", class: "btn btn-primary btn-large", style: "margin-top: 30px;" %>
        </div>
        
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
    
  </div>
</div>


