<p>Hi <% @reservations.first.person.first_name %>,</p>

<p>Your interview <%= @reservation.time_slot.to_weekday_and_time %> with <%= @reservation.user.name %>, phone number: <%=r.user.phone_number %> has been cancelled.
</p>

<p>You can always check your schedule by clicking this link: </p>
<p>
  <a href="https://<%=ENV['PRODUCTION_SERVER']%>/calendar/?token=<%= @reservations.first.person.token %>">
  https://<%=ENV['PRODUCTION_SERVER']%>/calendar/?token=<%= @reservations.first.person.token %>
  </a>
</p>

<p>Thanks!,</p>
<p><%= ENV['TEAM_NAME'] %></p>
