<p>Hi <% @reservation.person.first_name %>,</p>
<p>An interview has been booked for <%= @reservation.time_slot.to_weekday_and_time %> with <%= @reservation.user.name %>, phone number: <%=@reservation.user.phone_number %></p>

<p>You can always check your schedule by clicking this link: </p>
<p>
  <a href="https://<%=ENV['PRODUCTION_SERVER']%>/calendar/?token=<%= @reservation.person.token %>">
  https://<%=ENV['PRODUCTION_SERVER']%>/calendar/?token=<%= @reservation.person.token %>
  </a>
</p>

<p>Thanks!,</p>
<p><%= ENV['TEAM_NAME'] %></p>
