<%= nav_bar('nav nav-tabs') do %>
  <%= nav_link('Calendar', calendar_path, class: 'presentation') %>
  <%= nav_link('Invite', new_v2_event_invitation_path, class: 'presentation') %>
  <%= nav_link('Events', v2_event_invitations_path, class: 'presentation') %>
  <%= nav_link('Reservations', v2_reservations_path,class: 'presentation')  %>
<% end %>

<!-- <ul class="nav nav-tabs">
  <li role="presentation">
    <%= link_to "Calendar", '/calendar/' %>
  </li>
  <li role="presentation">
    <%= link_to "Invite", new_v2_event_invitation_path  %>
  </li>
  <li role="presentation">
    <%= link_to "Events", v2_event_invitations_path %>
  </li>
  <li role="presentation">
    <%= link_to "Reservations", v2_reservations_path %>
  </li>
</ul>
 -->
