<!DOCTYPE html>
<html>
<head>
  <title>Patterns | <%= title = yield(:page_title); title.present? ? title : controller_name.humanize.titlecase %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <% if Logan::Application.config.google_analytics_enabled %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37739534-12']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <% end %>
  <!-- TimeCop extends it's reach into js. -->
  <script>var today = '<%= Time.zone.now.strftime('%F') %>';</script>
</head>
<body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <% if current_user %>
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% end %>
          <a class="brand" href="<%= root_path %>"><%= ENV['SITE_NAME'] %></a>
          <div class="nav-collapse collapse">
             <% if current_user %>

            <ul class="nav">
              <li class=""><%= link_to "People <span class='badge'>#{Person.count}</span>".html_safe, people_path %></li>
              <li class=""><%= link_to "Submissions <span class='badge'>#{Submission.count}</span>".html_safe, submissions_path %></li>
              <li><%= link_to "SMS Campaigns", twilio_wufoos_path %></li>
              <li><%= link_to "Import Phone Numbers", '/twilio_messages/sendmessages' %></li>
              <li><%= link_to "Events", events_path %></li>


              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Add Submission", new_submission_path %></li>
                  <li><%= link_to "MailChimp Updates", mailchimp_updates_path %></li>
                  <li><%= link_to "Text Message Log", twilio_messages_path %></li>
                  <li><%= link_to "Invite To Event", new_v2_event_invitation_path %></li>
                  <li><%= link_to "Programs", programs_path %></li>
                  <li><%= link_to "Applications", applications_path %></li>
                </ul>
              </li>
            </ul>

            <!-- account dropdown -->
            <ul class="nav pull-right" id="account-dropdown">
                <li class="dropdown">
                    <%= link_to current_user.email, '#', class: 'dropdown-toggle current-user-name', 'data-toggle' => 'dropdown' %>
                    <ul class="dropdown-menu">
                        <li><%= link_to 'Profile', edit_user_registration_path %></li>
                        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
                    </ul>
                </li>
            </ul>

            <p class="navbar-text pull-right"><%= link_to "search", search_index_path(adv: 1), class: "muted navbar-text", id: 'adv-search' %></p>
            <%= form_tag search_index_path, :class => "navbar-search pull-right", :method => :get %>
                <%= text_field_tag :q, params[:q], class: "span2 search-query", placeholder: "query" %>
            </form>

            <% else %>
            <p class="navbar-text pull-right"><%= link_to 'Sign in', new_user_session_path %></p>
            <% end %>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="page-container" class="container">
        <div id="notifications">
            <% if flash[:notice] || flash[:alert] || flash[:error] %>
                <div class="alert <%= flash[:notice].present? ? "alert-success" : "alert-error" %>">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <%= flash[:alert] %>
                    <%= flash[:notice] %>
                    <%= flash[:error] %>
                </div>
            <% end %>
        </div> <!-- notifications -->

        <%= yield %>
    </div> <!-- /container -->

    <footer>
      <span class='copyright'>
        &copy; 2013 Smart Chicago Collaborative, all rights reserved.
        <% unless Rails.env.production? %>
          <span class="pull-right" style="color:red;">
            <%= Rails.env.to_s %>
          </span>
        <% end %>
      </span>
    </footer>
</body>
</html>
